openapi: 3.0.0
info:
  title: Grocery Express Api
  description: Grocery Express for CS6310 Assignment5
  version: 0.0.1
servers:
  - url: http://localhost:8080
    description:  Use this when running locally in dev or docker mode.
tags:
- name: drone
  description: drone can deliver order 
- name: employee
  description: pilot can control drone 
- name: item
  description: items are sold 

paths:
  /{store_id}/drones:
    get:
      summary: List all drones for a store.
      tags:
      - drone
      parameters:
      - $ref: '#/components/parameters/storeId'
      responses:
        '200':    # status code
          description: A JSON array of drones
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Drones"
    post:
      summary: Create an drone for a store
      tags:
      - drone
      parameters:
      - $ref: '#/components/parameters/storeId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createDroneReq"
      responses:
        201:
          description: OK

  /drones/{drone_id}:
    put:
      summary: Update status and trips_left
      tags:
      - drone
      parameters:
      - $ref: '#/components/parameters/droneId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDroneReq"
      responses:
        '200':    # status code
          description: A updated object of drone
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Drone"

  /{store_id}/employees:
    get:
      summary: List all employees for a store.
      tags:
      - employee
      parameters:
      - $ref: '#/components/parameters/employeeId'
      responses:
        '200':    # status code
          description: A JSON array of employees
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Employees"

    post:
      summary: Create an employee for a store
      tags:
      - employee
      parameters:
      - $ref: '#/components/parameters/employeeId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createEmployeeReq"
      responses:
        201:
          description: OK


  /employees/{employee_id}:
    put:
      summary: Update pilot status
      tags:
      - employee
      parameters:
      - $ref: '#/components/parameters/employeeId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateEmployeeReq"
      responses:
        '200':    # status code
          description: A updated object of employee
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Employee"
    get:
      summary: get a employee by id.
      tags:
      - employee
      parameters:
      - $ref: '#/components/parameters/employeeId'
      responses:
        '200':    # status code
          description: A object of employees
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Employee"

  /{store_id}/items:
    get:
      summary: List all items for a store.
      tags:
      - item
      parameters:
      - $ref: '#/components/parameters/itemId'
      responses:
        '200':    # status code
          description: A JSON array o items
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Items"
  
    post:
      summary: Create an item for a store
      tags:
      - item
      parameters:
      - $ref: '#/components/parameters/itemId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createItemReq"
      responses:
        201:
          description: OK
          
  /items/{item_id}:
    get:
      summary: get an item by id.
      tags:
      - item
      parameters:
      - $ref: '#/components/parameters/itemId'
      responses:
        '200':    # status code
          description: A object of item
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Item"
          
components:
  schemas:
    droneId:
      type: string
      readOnly: true
      example: 6Ek6KBqxceCJm0OtDrone
      title: id
      description: A unique signature to represent a drone
    droneStatus:
      title: status
      description: |-
        A simple flag to determine the status of drone;
        0: in matainence 1:in progress 2: available
      type: integer
      example: 0
      enum:
      - 0
      - 1
      - 2
    weightLimit:
      type: integer
      example: 40
      title: weight_limit
      description: the capacility of weight 
    tripsLeft:
      type: integer
      example: 3
      title: trips_lefts
      description: the trips left before matianence
    storeId:
      type: string
      example: 8ek6KBqxceCJm0OtStore
      title: store_id
      description: A unique signature to represent a store
    Drone:
      type: object
      description: A single drone
      required:

      - weight_limit
      - trips_left
      - store_id
      - status
      properties:
        id:
          $ref: "#/components/schemas/droneId"
        weight_limit:
          $ref: "#/components/schemas/weightLimit"
        trips_left:
          $ref: "#/components/schemas/tripsLeft"
        status:
          $ref: "#/components/schemas/droneStatus"
        store_id:
          $ref: "#/components/schemas/storeId"
    Drones:
      type: array
      description: A collection of selected drones acquired by a query.
      items:
        $ref: "#/components/schemas/Drone"


    createDroneReq:
      type: object
      description: A request for create drone request
      required:
      - trips_left
      - status
      - weight_limit
      properties:
        trips_left:
          $ref: "#/components/schemas/tripsLeft"
        status:
          $ref: "#/components/schemas/droneStatus"
        weight_limit:
          $ref: "#/components/schemas/weightLimit"

    updateDroneReq:
      type: object
      description: A request for updating drone request
      required:
      - trips_left
      - status
      properties:
        trips_left:
          $ref: "#/components/schemas/tripsLeft"
        status:
          $ref: "#/components/schemas/droneStatus"

    employeeId:
      type: string
      readOnly: true
      example: w3r33487y87t8employee
      title: id
      description: A unique signature to represent a employee

    firstName:
      type: string
      example: Meng
      title: first_name
      description: the first name of employee

    lastName:
      type: string
      example: Yan
      title: last_name
      description: the first name of employee

    phone:
      type: string
      example: 951-892-0434
      title: phone number
      description: the phone of employee

    ssn:
      type: string
      example: 003-59-3935
      title: ssn
      description: the ssn of employee, need to be encrypted in the database

    licenseId:
      type: string
      example: 2owefkerp
      title: license id
      description: the license id of employee

    experience:
      type: integer
      example: 2
      title: experience number
      description: the experience number of pilot


    expirationDate:
      type: string
      example: 01-01-1990
      title: expired date 
      description: the expired date of license 

    isFree:
      type: boolean
      example: true
      title: is free 
      description: the status of pilot
    

    Employee:
      type: object
      description: A single employee
      required:
      - first_name
      - last_name
      - phone
      - ssn
      - store_id
      - license_id
      - experience
      - expiration_date
      - is_free
      properties:
        id:
          $ref: "#/components/schemas/employeeId"
        first_name:
          $ref: "#/components/schemas/firstName"
        last_name:
          $ref: "#/components/schemas/lastName"
        phone:
          $ref: "#/components/schemas/phone"
        ssn:
          $ref: "#/components/schemas/ssn"
        store_id:
          $ref: "#/components/schemas/storeId"
        license_id:
           $ref: "#/components/schemas/licenseId"
        experience:
           $ref: "#/components/schemas/experience"
        expiration_date:
           $ref: "#/components/schemas/expirationDate"
        is_free:
           $ref: "#/components/schemas/isFree"


    Employees:
      type: array
      description: A collection of selected employees acquired by a query.
      items:
        $ref: "#/components/schemas/Employee"

    createEmployeeReq:
      type: object
      description: A request for create employee request
      required:
      - first_name
      - last_name
      - phone
      - ssn
      - license_id
      - experience
      - expiration_date
      - is_free
      properties:
        first_name:
          $ref: "#/components/schemas/firstName"
        last_name:
          $ref: "#/components/schemas/lastName"
        phone:
          $ref: "#/components/schemas/phone"
        ssn:
          $ref: "#/components/schemas/ssn"
        license_id:
           $ref: "#/components/schemas/licenseId"
        experience:
           $ref: "#/components/schemas/experience"
        expiration_date:
           $ref: "#/components/schemas/expirationDate"
        is_free:
           $ref: "#/components/schemas/isFree"


    updateEmployeeReq:
      type: object
      description: A request for updating employee status request
      required:
      - is_free
      properties:
        status:
          $ref: "#/components/schemas/isFree"
  
    itemId:
      type: string
      readOnly: true
      example: a23fwItem
      title: id
      description: A unique signature to represent an item

    name:
      type: string
      example: iphone
      title: name
      description: name of item

    unitPrice:
      type: number
      example: 1980.05
      title: unit price
      description: unit price of item

    weight:
      type: number
      example: 2.21
      title: weight (lbs)
      description: weight item

    Item:
      type: object
      description: A single item
      required:
      - name
      - unit_price
      - weight
      - store_id
      properties:
        id:
          $ref: "#/components/schemas/itemId"
        name:
          $ref: "#/components/schemas/name"
        unit_price:
          $ref: "#/components/schemas/unitPrice"
        weight:
          $ref: "#/components/schemas/weight"
        store_id:
          $ref: "#/components/schemas/storeId"
    Items:
      type: array
      description: A collection of selected items acquired by a query.
      items:
        $ref: "#/components/schemas/Item"
  
    createItemReq:
      type: object
      description: A request for create item request
      required:
      - name
      - unit_price
      - weight
      properties:
        name:
          $ref: "#/components/schemas/name"
        unit_price:
          $ref: "#/components/schemas/unitPrice"
        weight:
          $ref: "#/components/schemas/weight"
    
  parameters:
    storeId:
      name: id
      in: path
      description: A Uniquely random (UUID) used for selecting one Store
      required: true
      schema:
        $ref: "#/components/schemas/storeId"
    droneId:
      name: id
      in: path
      description: A Uniquely random (UUID) used for selecting one Drone
      required: true
      schema:
        $ref: "#/components/schemas/droneId"
    employeeId:
      name: id
      in: path
      description: A Uniquely random (UUID) used for selecting one Employee
      required: true
      schema:
        $ref: "#/components/schemas/employeeId"

    itemId:
      name: id
      in: path
      description: A Uniquely random (UUID) used for selecting one Item
      required: true
      schema:
        $ref: "#/components/schemas/itemId"