openapi: 3.0.0
info:
  title: Grocery Express Api
  description: Grocery Express for CS6310 Assignment5
  version: 0.0.1
servers:
  - url: http://localhost:8080
    description:  Use this when running locally in dev or docker mode.
tags:
- name: drone
  description: A drone which can deliver order 


paths:
  /{store_id}/drones:
    get:
      summary: List all drones for a store.
      tags:
      - drone
      parameters:
      - $ref: '#/components/parameters/storeId'
      responses:
        '200':    # status code
          description: A JSON array of drones
          content:
            application/json:
              schema: 
                $ref: "#/components/schemas/Drone"
    post:
      summary: Create an drone for a store
      tags:
      - drone
      parameters:
      - $ref: '#/components/parameters/storeId'
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        201:
          description: OK

components:
  schemas:
    droneId:
      type: string
      readOnly: true
      example: 6Ek6KBqxceCJm0OtDrone
      title: id
      description: A unique signature to represent a drone
    droneStatus:
      title: status
      description: |-
        A simple flag to determine the status of drone;
        0: in matainence 1:in progress 2: available
      type: integer
      readOnly: true
      enum:
      - 0
      - 1
      - 2
    weightLimit:
      type: integer
      example: 40
      title: weight_limit
      description: the capacility of weight 
    tripsLeft:
      type: integer
      example: 3
      title: trips_lefts
      description: the trips left before matianence
    storeId:
      type: string
      example: 8ek6KBqxceCJm0OtStore
      title: store_id
      description: A unique signature to represent a store
    Drone:
      type: object
      description: A single drone
      required:
      - weight_limit
      - trips_left
      - store_id
      - status
      properties:
        id:
          $ref: "#/components/schemas/droneId"
        weight_limit:
          $ref: "#/components/schemas/weightLimit"
        trips_left:
          $ref: "#/components/schemas/tripsLeft"
        status:
          $ref: "#/components/schemas/droneStatus"
        store_id:
          $ref: "#/components/schemas/storeId"
  parameters:
    storeId:
      name: id
      in: path
      description: A Uniquely random (UUID) used for selecting one Store
      required: true
      schema:
        $ref: "#/components/schemas/storeId"